:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */

    --black: #030303;
    --accent-pink: #fc0c75;
    --white: #ffffff;
    --light-pink: #fcd6e6;
    --light-grey: #c1c1c1;
    --dark-grey: #272b30;
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --timberwolf: #DBD7D8ff;
    --pink-lavender: #E2B7D3ff;
    --plum-web: #ED8FD9ff;
    --plum-web-2: #F784D5;
    --thistle: #E3CCDFff;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    position: relative;
}

select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--light-pink);
    cursor: pointer;

}

button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-pink);
    transition: 0.3s;
}

.logo {
    color: var(--light-pink);
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
}

.logo a {
    color: var(--plum-web-2);
    text-decoration: none;
}

.logo a:hover {
    color: var(--accent-pink);
    transition: 0.3s
}

.header-container {
    height: 100vh;
    width: 100%;
    background: var(--white);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--accent-pink);
    transition: 0.3s
}

header {
    position: absolute;
    width: 94%;
    margin: 0 auto;
    padding: 13px 0;
    top: 40px;
    right: 30px;
    left: 30px;
    border-radius: 50px;
    z-index: 2;
    background: var(--white);
    box-shadow: 0 0 30px var(--light-grey);
}

.bg {
    position: absolute;
    background-image: url('/static/images/bg.jpg');
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.right-content {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
}

.right-content h1 {
    font-size: 150px;
    color: var(--black);
    line-height: 180px;
    margin-bottom: 10px;
}

.right-content h4 {
    font-size: 25px;
    color: var(--black);
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.content {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translateY(-50%);
}

.content h1 {
    font-size: 100px;
    color: var(--black);
    line-height: 180px;
    margin-bottom: 10px;
}

.content h4 {
    font-size: 18px;
    font-weight: normal;
    color: var(--black);
    margin-bottom: 40px;
}

.dropdowns {
    margin-bottom: 30px;
    margin-left: 200px;
    pointer-events: auto;
}

.dropdowns label {
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    margin-right: 20px;
}

.dropdowns select {
    margin-top: 10px;
    text-align: center;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

.btn1 {
    margin-top: 30px;
    margin-left: 200px;
    box-shadow: 0 0 30px var(--light-pink);
}

.btn1:hover {
    box-shadow: 0 0 30px var(--accent-pink);
}

.footer-container {
    position: relative;
    background: var(--black);
    color: var(--white);
    padding: 30px 0;
    text-align: center;
}