<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Breast Cancer Classifier{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Breast Cancer Classifier</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'compare_classifiers' %}">Compare Classifiers</a></li>
                <li><a href="{% url 'classifier_list' %}">Classifier List</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Iván Sotillo del Horno</p>
    </footer>
</body>
</html>
