{% extends 'base.html' %}

{% block title %}Classifier Detail{% endblock %}

{% block content %}
  <div class="classifier">
    <h2>{{ classifier.name }}</h2>
    <p>{{ classifier.short_description }}</p>
    <h3>Hyperparameters</h3>
    <div class="hyperparameters">
      {% for key, value in classifier.hyperparameters.items %}
        <div class="hyperparameter">
          <strong>{{ key }}:</strong>
          {% if key == "estimators" %}
            {% for estimator in value %}
              {% for name, params in estimator.items %}
                <div class="estimator">
                  <h4>{{ name }}</h4>
                  {% for param_key, param_value in params.items %}
                    <div class="param">
                      <strong>{{ param_key }}:</strong> {{ param_value }}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            {% endfor %}
          {% else %}
            {{ value }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <h3>Ensemble</h3>
    <p>{{ classifier.ensemble|yesno:"Yes,No" }}</p>
  </div>
{% endblock %}
