<!-- classifier_list.html -->

{% extends 'base.html' %}

{% block title %}Classifier List{% endblock %}

{% block content %}
<div class="content">
    <div class="classifier-container">
        <h2>Classifiers</h2>
        <div class="classifiers">
            {% for classifier in base_classifiers %}
            <a href="{% url 'classifier_detail' classifier.pk %}" class="classifier-link">
                <div class="classifier">
                    <h4>{{ classifier.name }}</h4>
                </div>
            </a>
            {% endfor %}
            {% for classifier in ensemble_classifiers %}
            <a href="{% url 'classifier_detail' classifier.pk %}" class="classifier-link">
                <div class="classifier">
                    <h4>{{ classifier.name }}</h4>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
