<!-- compare_classifiers.html -->

{% extends 'base.html' %}

{% block title %}Compare Classifiers - Breast Cancer Classifier{% endblock %}

{% block content %}

<div class="bg">
</div>

<!-- add this in the ones that have the left pic and right text -->
<div class="header-container">
    
</div>


<div class="right-content">
    <h1>Compare Classifiers</h1>

    <h4>Select two classifiers from the dropdown menus below to compare their metrics, confusion matrix, and feature
        importance:</h4>

    <form action="{% url 'compare_classifiers' %}" method="post">
        <div class="dropdowns">
            {% csrf_token %}
            <label for="classifier1">Classifier 1:</label>
            <select name="classifier1" id="classifier1" class="select">
                {% for classifier in classifiers %}
                <option value="{{ classifier.id }}">{{ classifier.name }}</option>

                {% endfor %}
            </select>
            <br>
            <label for="classifier2">Classifier 2:</label>
            <select name="classifier2" id="classifier2" class="select">
                {% for classifier in classifiers %}
                <option value="{{ classifier.id }}">{{ classifier.name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn1">Compare</button>
        </div>
    </form>
</div>
{% endblock %}